
<!-- index#index -->
<% if user_signed_in? %>
  <h1>Welcome, <%= current_user.username.capitalize %>!</h1>
<% else %>
  <h1>Welcome!</h1>
  <p>
    Please sign in to use this application.
  </p>
  <%= link_to "Sign in", new_user_session_path, class:"btn btn-sm btn-success" %>
<% end #if user_signed_in?%>

<hr> <!-- ----- ----- ----- ----- -----  -->
<% if Rails.env.development? %>
  <h4>Git-commit</h4>
  <p>
    <%= GIT_COMMIT %><br />
    (<%= GIT_COMMIT_TIMESTAMP %>)
  </p>
<% end  # if Rails.env.development? %>
<!-- end index#index -->
