<div class="jumbotron">
  <% if user_signed_in? %>
    <h1>Welcome back!</h1>
	<h2>Latest news</h2>
	<h3 class="text-uppercase">09/2016 - Devise added to CERTMAN</h3>
    <p class="lead col-xs-6 col-xs-offset-1">
      Added devise, devise-views and applied basic bootstrapping.
    </p>
  <% end %>
</div>
