<p>
  <strong>Name:</strong><br>
  <%= @keypair.name %>
</p>

<p>
  <strong>Privatekey:</strong>
  <br /><button class="btn btn-default btn-xs btn-copy-clipboard" data-clipboard-target="#privatekey_content"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
  <br /><small><pre id="privatekey_content", class="long-paragraph"><%= @keypair.privatekey.html_safe %></pre></small>
</p>

<p>
  <strong>Publickey:</strong>
  <br /><button class="btn btn-default btn-xs btn-copy-clipboard" data-clipboard-target="#publickey_content"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
  <br /><small><pre id="privatekey_content", class="long-paragraph"><%= @keypair.publickey.html_safe %></pre></small>
</p>
