<div id="cookiebar" class="navbar navbar-fixed-bottom navbar-inverse" style="padding-bottom:80px">
  <div class="container-fluid">
    <div class="left-part">
      <p>
        We are using cookies to give you the best experience on our site. By continuing to use our site, you are agreeing to our use of cookies.
      </p>
    </div>

    <div class="right-part">
      <%= link_to 'ok', request.original_url, class: 'btn btn-default' %>
    </div>
  </div>
</div>
