<!-- _footer -->
<div class="navbar navbar-default navbar-fixed-bottom hidden-xs hidden-sm">
      <a href="http://www.schbrongx.com" class="navbar-text navbar-link">www.schbrongx.com</a>
</div>
<!-- end _footer -->
