<!-- _footer -->
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text">
      <a href="http://www.schbrongx.com" class="navbar-link">www.schbrongx.com</a>
    </p>
  </div>
</div>
<!-- end _footer -->
