
<!-- _modal.html.erb -->
    <div class="modal" id="modal_show" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" id="modal_show_body">
            <%= image_tag("spinner", size: "128") %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        var click_modal_show = function(){
          $('body').on('click', '.btn-show-modal', function(){
            $('#modal_show').modal('show');
          });
        }
        click_modal_show();
      });

      // empty modal content when it's closed
      $('#modal_show').on('hidden.bs.modal', function () {
        $('#modal_show_body').html('<%= image_tag("spinner", size: "128") %>');
      });
    </script>
<!-- end _modal.html.erb -->
