<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">certmanager</a>
    </div>
<ul class="nav navbar-nav" role="tablist">
  <li><%= link_to 'Key Types', keytypes_path %> </li>
  <li><%= link_to 'Keys', keys_path %> </li>
  <li><%= link_to 'Certificate Types', certificatetypes_path %> </li>
  <li><%= link_to 'CSR Templates', csrtemplates_path %> </li>
</ul>
  </div>
</nav>

