
<!-- _warnings.html.erb -->
<% # show alert or notice messages as dismissable bootstrapped alertbox %>
<% if (alert) || (notice) 
  if notice
    div_class="success"
    message=notice
  elsif alert
    div_class="danger"
    message=alert
  end %>
  <div class="alert alert-<%= div_class %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>
      <%= message %>
    </p>
  </div>
  <% # add a script that slowly fades out success messages for convenience %>
  <script>
    setTimeout("$('.alert-success').fadeOut('fast')", 3000)
  </script>
<% end  # if alert || notice%>
<!-- end _warnings.html.erb -->